<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>


<nav th:fragment="navbar" class="nav navbar-nav navbar-right">
    <div class="container-fluid">

        <div class="navbar-header">
    <a class="navbar-brand" th:href="@{/}">DateMates</a>
    </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/explore}">Explore</a></li>
            <li><a th:href="@{/create}">Create Post</a></li>
        </ul>
    </div>
</nav>

</body>
</html>