<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body style="background-color: cadetblue">
<nav th:replace="partials/navbar :: navbar"></nav>
<h1 style="text-align: center">Find your mate today!</h1>

<!--<div>-->
<!--<form th:action="@{/}" method="post" th:object="${user}">-->
<!--    <div class="form-group">-->
<!--        <label for="email"></label>-->
<!--        <input th:field="*{email}" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email or Username" style="margin: auto; width: 75%">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="password"></label>-->
<!--        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password" style="margin: auto; width: 75%">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary" style="margin: auto; width: 75%">Log In</button>-->
<!--</form>-->
<!--</div>-->

<div th:replace="partials/scripts :: assets"></div>
</body>
</html>